@import "../../partials/vars";

.footer {
    width: 100%;
    background-color: $secondary;
    max-width: none;
    p {
        font-weight: 500;
        max-width: 1360px;
        margin: auto;
        @media screen and (max-width: 576px) {
            font-size: 0.8rem;
        }
        padding: 0.5rem;
    }
}